.svgicon {
  max-height: 300px;
  position: relative;
}
.sendLinkSvgicon {
  max-height: 250px;
}
.changePassSVGicon{
  max-height: 330px;
}
.verifyEmailSVGicon{
  max-height: 250px;
}
.massageicon{
  animation: svgicon 4s linear infinite;
  transform-box: fill-box;
  transition: all;
}

@keyframes svgicon {
  0% {
    scale: 1;
  }
  100% {
    scale: 0.5;
  }
}
